.jump__brand{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    align-items: center;

}

.jump__brand div{
    flex: 1;

    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 350px) {
    .jump__brand {
        flex-direction: column;
        justify-content:space-around;
        align-items:center;
        margin-bottom: 1rem;
    }

    .jump__brand div {
        margin: 2rem; 
    }
    
}