.jump__whatpage {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: black;
    border-radius: 3rem;
    box-shadow: 9px 10px 19px 0.2px rgba(0, 0, 0, 0.329);
}

.jump__whatpage-feature {
    display: flex;
}


.jump__whatpage-feature .jump__features-container__feature {
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.jump__whatpage-feature .jump__features-container__feature-text {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    justify-content: space-between;
}

.jump__whatpage-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 3rem;
    color: var(--color-footer);
}

.jump__whatpage-heading h1 {
    font-size: 33px;
    line-height: 44px;
    font-weight: 750;
    max-width: 510px;
    font-family: var(--font-family);
    font-style: normal;
    margin-left: 1rem;
    text-align: center;

}

.jump__whatpage-heading p {
    font-size: 18px;
    line-height: 37px;
    font-weight: 350;
    width: auto;

    font-family: var(--font-family);

    color: var(--color-footer);
    cursor: pointer;
}

.jump__whatpage-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;

}

.jump__whatpage-container
.jump__features-container__feature {
    flex: 1;
    margin: 1rem 2rem;
    min-width: 200px;

    flex-direction: column;
}

.jump__whatpage-container
.jump__features-container__feature-text {
    margin: 0.03rem;
}

@media screen and (max-width: 850px) {
    .jump__whatpage-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .jump__whatpage-heading p {
        margin: 3rem;
    }
    
}

@media screen and (max-width: 650px) {
    .jump__whatpage-feature .jump__features-container__feature {
        flex-direction: column;
    }

    .jump__whatpage-feature .jump__features-container__feature-text {
        margin-top: 0.5rem;
    }

    .jump__whatpage-heading h1 {
        font-size: 28px;
        line-height: 35px;
    }

}

@media screen and (max-width: 350px) {
    .jump__whatpage-container .jump__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
    
}