.jump__navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem  2rem;
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100000;


    background-color: var(--color-footer);
    box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.252);
    background:linear-gradient(rgb(246, 246, 246),), transparent;  

}

.jump__navbar-links{

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jump__navbar-links_logo{
    margin-right: 2rem;   
}

.jump__navbar-links_logo img{
    height: 74px;
    width: 65.83px;
}


.jump__navbar-links_container{
    display: flex;
    /*this happens by defualt anyway*/
    flex-direction: row;
    justify-items: center;
    align-items: center;

    
}



.jump__navbar-links_container p, 
.jump__navbar-sign p, 
.jump__navbar-menu_container p{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1.7rem;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.jump__navbar-sign button,
.jump__navbar-menu_container button{
    padding: 0.4rem 0.1rem;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
    align-items: flex-start;
    border-radius: 7px;
    cursor: pointer;
    border: 0;
    background: transparent;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27%;
    text-transform: uppercase;
}

.jump__navbar-menu{
    margin-left: 1rem;
    display: none;

}

.jump__navbar-menu svg{
    cursor: pointer;
}

.jump__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 60px;
    right: 0;
    margin-top: 0.9rem;
    min-width: 220px;
    border-radius: 5px;
    box-shadow: 1px 12px 20px rgba(0, 0, 0, 0.252);
}


.jump__navbar-menu_container p{
    margin: 1rem 0.4rem;
}

.jump__navbar-menu_container-links-sign{
    display: none;
}



@media screen and (max-width: 1050px){
    .jump__navbar-links_container{
        display: none;
    }
    
    .jump__navbar-menu{
        display: flex;

    }


/*    .jump__navbar-menu_container-links-sign{
        display: block;
    }
    .jump__navbar{
        
        width: 100%;
        

    }*/
    .jump__navbar-menu_container{
        top: 79px;
    
    }

}


@media screen and (max-width: 700px) {


}


@media screen and (max-width: 550px) {


    .jump__navbar-sign{
        display: none;
    }
    
    .jump__navbar-menu_container{
         top: 79px;

    }

    .jump__navbar-menu_container-links-sign{
        display: block;
    }
}