.jump__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 1rem 3rem;
    position: sticky;
    top: 0;     
    width: 100%;
    box-sizing: border-box;

    background-color: var(--color-footer);
    box-shadow: 0 1px 8px 4px rgba(0,0,0,.10);
    background:linear-gradient(rgb(246, 246, 246),), transparent;  

}

.jump__navbar-links{

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jump__navbar-links_logo{
    margin-right: -2rem;   
}

.jump__navbar-links_logo img{
    height: 74px;
    width: 65.83;
}


.jump__navbar-links_container{
    display: flex;
    /*this happens by defualt anyway*/
    flex-direction: row;
}

.jump__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.jump__navbar-links_container p, 
.jump__navbar-sign p, 
.jump__navbar-menu_container p{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1.7rem;
    cursor: pointer;
    outline: none;
}

.jump__navbar-sign button,
.jump__navbar-menu_container button{
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.4rem 1rem;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    background: transparent;


    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 190%;
    text-transform: uppercase;
}

.jump__navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}

.jump__navbar-menu svg{
    cursor: pointer;
}

.jump__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 50px;
    right: 0;
    margin-top: 1.2rem;
    min-width: 50px;
    border-radius: 7px;
    box-shadow: rgb(8, 8, 2) 9px 12px 29px -27px, rgba(0, 0, 0, 0.3) 12px 9px 29px -30px;
}


.jump__navbar-menu_container p{
    margin: 1rem 1rem;
}

.jump__navbar-menu_container-links-sign{
    display: none;
}

@media screen and (max-width: 1050px){
    .jump__navbar-links_container{
        display: none;
    }
    
    .jump__navbar-menu{
        display: flex;

    }

    .jump__navbar-menu_container-links-sign{
        display: block;
    }
    .jump__navbar{
        
        width: 100%;
        

    }

    .jump__navbar-menu_container{
        top: 17px;
        margin: 2.6rem -1rem;
   }
}


@media screen and (max-width: 700px) {
    .jump__navbar{
        padding: 3rem 1rem;
        width: 100%;

    }

    .jump__navbar-menu_container{
        top: 17px;
        margin: 2.6rem -1rem;
   }
    

}


@media screen and (max-width: 550px) {
    .jump__navbar{
        padding: 1rem 1rem;
 

    }
    .jump__navbar-sign{
        display: none;
    }
    
    .jump__navbar-menu_container{
         top: 17px;
         margin: 2.6rem -1rem;
    }

    .jump__navbar-menu_container-links-sign{
        display: block;
    }
}