* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
    --font-family: 'SF Pro Display', sans-serif;
    /*background-color: #f9f9f9;*/
    
    

    --gradient-text: linear-gradient(337deg, #f9f9f9 44%, #949494 98%);
    
    --gradient-bar: linear-gradient(321deg, #f9f9f9 34%, #a9a9a9 100%);



    --color-bg: #f0f0f0;
    --color-footer: #FAFAFA;
    --color-H1text: #0d0d0f;
    --color-subtext: #737373;
    --color-button1: #3d6fb0;
    --color-blog: #b8c0c4;
    --color-about: #090909;
}







body {
    
background: var(--color-bg);
    
}

a {
    color: unset ;
    text-decoration: none;
}


.gradient__bg{

    box-shadow: 0 1px 9px -6px rgba(0,0,0,.2);
}

.gradient__text{
    background: var(--color-H1text);
    background-clip: text;
    /*find this out*/
    -webkit-background-clop: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

  @media screen and (max-width: 700px){
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
  }


  @media screen and (max-width: 550px){
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 1rem;
    }
  }

/* Now this will affect the body element of the document */